<div class="waiting">
we are waiting now.

<table>
	<tr>
		<th>Nickname</th>
		<th>Ip</th>
		<th><!-- Success --></th>
		<th><!-- Hide --></th>
	</tr>
	<tr ng-repeat="offer in offers">
		<td>{{offer.nickname}}</td>
		<td>{{offer.ip}}</td>
		<td><button class="btn btn-success" ng-click="accept({nickname: offer.nickname, ip: offer.ip})">Accept</button></td>
		<td><button class="btn btn-error">Decline</button></td>
	</tr>
</table>

<button class="btn btn-primary" ng-click="goHome()">Go Home</button>
</div>

