html
  head
    title Rock, Paper, Scissors
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/index.css')
    link(rel='stylesheet', href='css/login.css')
    link(rel='stylesheet', href='css/register.css')
    script(src='components/jquery/dist/jquery.min.js')
    script(src='components/bootstrap/dist/js/bootstrap.min.js')
    script(src='components/bitcore/bitcore.min.js')
    script(src='components/bitcore-message/bitcore-message.min.js')
    script(src='components/bitcore-mnemonic/bitcore-mnemonic.min.js')
    script(src='js/app.js')
    script(src='js/navigation.js')
    script(src='js/index.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand Rock, Paper, Scissors
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li#app-index.active: a Home
            li#app-login: a Login
            li#app-register: a Register
    .container
      include index
      include login
      include register