html
  head
    title Rock, Paper, Scissors
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/app.css')
    script(src='components/jquery/dist/jquery.min.js')
    script(src='components/bootstrap/dist/js/bootstrap.min.js')
    script(src='components/bitcore/bitcore.min.js')
    script(src='components/bitcore-message/bitcore-message.min.js')
    script(src='components/bitcore-mnemonic/bitcore-mnemonic.min.js')
    script(src='js/app.js')
    script(src='js/navigation.js')
    script(src='js/index.js')
    script(src='js/login.js')
    script(src='js/register.js')
    script(src='js/home.js')
    script(src='js/browse.js')
    script(src='js/create.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand Rock, Paper, Scissors
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href='https://github.com/thofmann/rpsps-js', target='_blank') Fork me on GitHub
            li: a(href='https://github.com/thofmann/rock-paper-scissors-protocol-secure', target='_blank') About
            li: a(href='mailto:trevinhofmann@gmail.com?subject=RPSPS-JS', target='_blank') Contact
    .container
      include index
      include login
      include register
      include home
      include browse
      include create
      include deposit
      include withdraw