#browse.panel
  .jumbotron
    h1 Browse Game Offers
    p
      a#browse-back.btn.btn-lg.btn-danger(role='button') Go back
    p.lead Below are open Rock, Paper, Scissors challenges from players around the world.