#browse.panel
  .jumbotron
    h1 Browse Game Offers
    p
      button#browse-back.btn.btn-lg.btn-danger Go back
    p.lead Below are open Rock, Paper, Scissors challenges from players around the world.