#create.panel
  .jumbotron
    h1 Create Game Offer
    p
      button#create-back.btn.btn-lg.btn-danger Go back
    p.lead Specify your game options below, and click "Submit" to create your game offer.