#deposit.panel
  .jumbotron
    h1 Deposit funds to your wallet
    p
      button#deposit-back.btn.btn-lg.btn-danger Go back
    p.lead Below is an unused address that you can use to deposit funds into your Rock, Paper, Scissors wallet.