#home.panel
  .jumbotron
    h1 Rock, Paper, Scissors
    p.lead Welcome to your dashboard. Would you like to play a game of Rock, Paper Scissors?
    p
      button#home-browse.btn.btn-lg.btn-primary Browse game offers
      |  
      button#home-create.btn.btn-lg.btn-success Create a new game offer
    p.lead You can also deposit to or withdraw from your wallet. This wallet belongs to you and is derived from your login passphrase.
    p
      button#home-deposit.btn.btn-lg.btn-primary Deposit
      |  
      button#home-withdraw.btn.btn-lg.btn-primary Withdraw