#home
  .jumbotron
    h1 Rock, Paper, Scissors
    p.lead Welcome to your dashboard. Would you like to play a game of Rock, Paper Scissors?
    p
      a#home-browse.btn.btn-lg.btn-primary(role='button') Browse game offers
      |  
      a#home-create.btn.btn-lg.btn-success(role='button') Create a new game offer
    p.lead You can also deposit to or withdraw from your wallet. This wallet belongs to you and is derived from your login passphrase.
    p
      a#home-deposit.btn.btn-lg.btn-primary(role='button') Deposit
      |  
      a#home-withdraw.btn.btn-lg.btn-primary(role='button') Withdraw