#index.panel
  .jumbotron
    h1 Rock, Paper, Scissors
    p.lead Welcome to a cryptographically secure implementation of the classic Rock, Paper, Scissors game.
    p
      button#index-login.btn.btn-lg.btn-primary Log in
      |  
      button#index-register.btn.btn-lg.btn-success Register