html
  head
    title Rock, Paper, Scissors
    link(rel='stylesheet', href='components/jquery/dist/jquery.min.js')
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/app.css')
    script(src='components/bootstrap/dist/js/bootstrap.min.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toglle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Rock, Paper, Scissors
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active: a(href='#') Home
            li: a(href='#create') Create a game
            li: a(href='#join') Join a game
    .container
      h1 Rock, Paper, Scissors
      p.lead Welcome to Rock, Paper, Scissors.