#index
  .jumbotron
    h1 Rock, Paper, Scissors
    p.lead Welcome to a cryptographically secure implementation of the classic Rock, Paper, Scissors game.
    p
      a#home-login.btn.btn-lg.btn-primary(role='button') Log in 
      |  
      a#home-register.btn.btn-lg.btn-success(role='button') Register