#login.panel
  .jumbotron
    h1 Login
    p.lead Enter your mnemonic passphrase to begin playing.
    form
      input#login-mnemonic.form-control(type='text', placeholder='mnemonic passphrase')
    p
      a#login-submit.btn.btn-lg.btn-primary(role='button') Submit
      |  
      a#login-back.btn.btn-lg.btn-danger(role='button') Go back