#login
  .jumbotron
    h1 Login
    p.lead Enter your mnemonic passphrase to begin playing.
    form
      input#login-mnemonic.form-control(type='text', placeholder='mnemonic passphrase')
    .row
      .col-md-4
      .col-md-4
        button#login-submit.btn.btn-primary.btn-block Submit