#register.panel
  .jumbotron
    h1 Register
    p.lead Your browser will now generate a mnemonic passphrase in the space below.
    form
      input#register-mnemonic.form-control(type='text', placeholder='mnemonic passphrase', disabled='disabled')
    p.lead Please save this passphrase somewhere, and enter it in the space below to confirm.
    form
      input#register-mnemonic-confirm.form-control(type='text', placeholder='mnemonic passphrase')
    p
      button#register-submit.btn.btn-lg.btn-primary Submit
      |  
      button#register-back.btn.btn-lg.btn-danger Go back