#register
  .jumbotron
    h1 Register
    p.lead Your browser will now generate a mnemonic passphrase in the space below.
    form
      input#register-mnemonic.form-control(type='text', placeholder='mnemonic passphrase', disabled='disabled')
    p.lead Please save this passphrase somewhere, and enter it in the space below to confirm.
    form
      input#register-mnemonic-confirm.form-control(type='text', placeholder='mnemonic passphrase')
    .row
      .col-md-4
      .col-md-4
        button#register-submit.btn.btn-primary.btn-block Submit