#withdraw.panel
  .jumbotron
    h1 Withdraw funds from your wallet
    p
      button#withdraw-back.btn.btn-lg.btn-danger Go back
    p.lead Enter your withdrawal address and the amount you would like to withdraw from your Rock, Paper, Scissors wallet.