#withdraw.panel
  .jumbotron
    h1 Withdraw funds from your wallet
    p
      a#withdraw-back.btn.btn-lg.btn-danger(role='button') Go back
    p.lead Enter your withdrawal address and the amount you would like to withdraw from your Rock, Paper, Scissors wallet.